@import "../../assets/styles/colors.scss";

.custom-btn {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: #ffffff !important;
  width: 100%;
}

.custom-btn:hover {
  background-color: rgb(60, 96, 255) !important;
}

.curved{
    border-radius: 50px !important;
}
