@import "../../assets//styles/colors.scss";

.page-ov {
  height: 100px;
  background: #fff;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  padding: 20px;
}

.text-gray {
  color: rgba(77, 77, 77, 0.801);
}

.text-semi-light {
  color: rgb(255, 255, 255);
}

.overview-container {
  background-color: #ffffff;
  height: 250px;
  width: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .cstm-card {
    width: 180px;
    height: 150px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
  }
}

.balance-container {
  background-color: #ffffff;
  height: 250px;
  width: 35%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.analytics-container,
.allocation-container {
  background-color: #ffffff;
  height: 350px;
  width: 48%;
  margin-top: 50px;
  border-radius: 10px;
}

.ov-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  label {
    padding: 5px 10px;
    font-size: 20px;
  }
}

.bal-card {
  width: 300px;
  height: 150px;
  background-color: $secondary-color;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}
