@import "../../assets//styles/colors.scss";

.page-ov {
  height: 100px;
  background: #fff;
  width: 100%;
  border-top: 2px solid $light-color;
  padding: 20px;
}

.text-gray{
    color: rgb(180, 180, 180);
}
