.main-header {
  a {
    color: inherit;
  }
  .menu-icon {
    font-size: 30px;
    margin-right: 25px;
    font-weight: bold;
  }

  .badge-icon {
    font-size: 36px;
  }

  input {
    background-color: #f8f9fa !important;
    text-align: center;
  }
  .profile-info{
    text-align: right;
    vertical-align: middle;
  }
}
